.background-slika {
        background-image: url('slike/glavni-background.png');
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        margin: 30px;
        padding: 0;
        margin-left: 60px;
}

.desni-cosak {
display: flex;
width: 935px;
justify-content: flex-end;
align-items: center;
gap: 10px;
}

.p1-proba {
        width: 551px;
        color: #FFF;

        font-family: Lato;
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 4.8px;
}


a:hover {
        color: white;
}
.p1 {
color: #FFF;
font-family: Lato;
font-size: 48px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 4.8px;
width: 551px;
height: 174px;
color: #FFF;
}

.p2 {
display: flex;
width: 556px;
height: 43px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
opacity: 0.5;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.6px;
}

.p3 {
width: 529px;
height: 177px;
flex-shrink: 0;
color: #FFF;

font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 166.667% */
letter-spacing: 1.8px;
}

.p4 {
display: flex;
width: 385px;
height: 52px;
flex-direction: column;
justify-content: center;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Lato;
font-size: 21px;
font-style: normal;
font-weight: 600;
line-height: 58px; /* 276.19% */
letter-spacing: 2.1px;
}

.slika-zgrade {
width: 650px;
height: 650px;
flex-shrink: 0;
position: absolute;
top: 100px;
right: 0;
}

.centralni-text {
width: 1152px;
height: 46px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Lato;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 78.947% */
letter-spacing: 3.8px;
margin-top: 150px;
}

.kartica1 {
width: 270px;
height: 462px;
flex-shrink: 0;
border-radius: 20px;
background: #04043E;
align-items: center!important;
}

.slika-kartice1 {
        width: 287px;
height: 179px;
flex-shrink: 0;
border-radius: 20px 20px 0px 0px;
background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 46.68%, rgba(0, 0, 0, 0.20) 70.97%), url(<path-to-image>), lightgray 50% / cover no-repeat, #D9D9D9;

}

.text-kartice1 {
color: #FFF;
letter-spacing: 3.3px;
        font-size: 20px;
font-family: Lato;
font-weight: 500;

}

.kartice {
display: flex;
flex-direction:row;
justify-content: space-evenly;
}

.text-pakume {
        color: #FFF;
font-family: Lato;
font-size: 28px;
font-style: normal;
font-weight: 600;
line-height: 30px; /* 107.143% */
letter-spacing: 2.8px;
}


.srednji-text {
        width: 441px;
height: 33px;
flex-shrink: 0;
color: rgba(255, 255, 255, 0.75);
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 45px; /* 187.5% */
letter-spacing: 2.4px;
}


.ellipse {
        width: 15px;
        height: 15px;
        background-color: #3498db;
        border-radius: 50%;
        position: absolute;
        top: 50%; /* Adjust as needed */
        left: 50%; /* Adjust as needed */
        transform: translate(-50%, -50%); /* Center the ellipse */
        flex-shrink: 0;
    }
    

    .text-iznad-tabele {
width: 1151px;
height: 46px;
flex-shrink: 0;
color: #FFF;
text-align: center;
font-family: Lato;
font-size: 38px;
font-style: normal;
font-weight: 700;
line-height: 30px; /* 78.947% */
letter-spacing: 3.8px;
    }


.text-sredina {
width: 758px;
color: #FFF;
text-align: center;
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 25px; /* 138.889% */
letter-spacing: 1.8px;
}


.kruzici {
        width: 15px;
height: 15px;
flex-shrink: 0;
fill: #FFF;
stroke-width: 1px;
stroke: #04043E;
}

.pocetna {
        display: flex;
        width: 935px;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        opacity: 75%;

}



.en {
        color: #FFFFFFBF;
        display: flex;
        padding: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        color: rgba(255, 255, 255, 0.75);
        text-align: center;
        font-family: Roboto Mono;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
}

.div1 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 229px;
        height: 56px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Montserrat;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

}


        a:link {
                color: White;
        }

        a:visited {
                color: White;
        }